#passValidate {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 40px;
}

#passValidate p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: #00cc00;
}

.valid:before {
    position: relative;
    left: -15px;
    content: "☑";
}

.invalid {
    color: #de0000;
}

.invalid:before {
    position: relative;
    left: -15px;
    content: "☒";
}