* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("loginBackground.jpg");
}

.navigation {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #1e626e;
    transition: 0.5s;
    overflow: hidden;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover {
    background: #46a2b3;
}
.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff; 
    line-height: 60px;
    padding-left: 2rem;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.linkText {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,garamond,serif;
}

.header {
    padding-left: 200px;
    background-color: #3e6d75;
}

.header h2 {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}

.contentContainer {
    padding-left: 200px;
    padding-top: 0.5rem;  
}

.contentContainer h3 {
    padding-left: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,garamond,serif;
}

.contentContainer h2 {
    padding: 0.25rem 2rem 0.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,garamond,serif;
    border-left: 6px solid green;
    background-color: #cfffd3;
}

.contentContainer button {
    padding: 0.25rem 0.4rem;
}

#startStopButtons {
    padding-top: 8rem;
    border: none;
}

#serverStatusDSS {
    background-color: #edb4b4;
    border-left: 6px solid red;
}

#parameterSelection {
    padding-top: 0.25rem;
    padding-left: 2rem;
    padding-right: 4rem;
}

#submitButtonParameters {
    height: 1.8rem;
    background-color: rgb(29, 126, 126);
    margin: 0.5rem;
}

.parameterText {
    font-weight: bold;
    color: rgb(29, 126, 126);
}

#stockPortfolio {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.form {
    padding-left: 2rem;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.fieldInput {
    padding-top: 0.5rem;
}

.fieldInput input {
    border-radius: 1rem;
    width: 280px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 10px 18px;
}

.btn {
    display: flex;
    background: transparent;
    transition: all 200ms ease-in;
    cursor: pointer;
    margin-top: 10px;
    width: 250px;
}

#stockTable th {
    text-align: center;
    vertical-align: bottom;
    color: white;
}

#stockTable td {
    text-align: center;
    vertical-align: bottom;
    color: white;
}

.show {
    display:block;
}